*.o
*.d
*.d.1
*.swap
*.elf*
*.map
symbol_tbl.txt
sdk_used_list.used
*.depend
*.layout
*.lst
*.lit
*.cbp
*.depend
.project
.cproject
*ram*.bin
*sdram*.bin
*.format_orig
*.c.swp
*.h.swp
*.orig
*.app
objs/
obj/
*aac.bin
*aec.bin
*app.bin
*aptx.bin
*data_code.bin
*jl_isd.bin
*jl_isd.fw
*update.ufw
cpu/*/sdk.ld
cpu/*/tools/download.bat
cpu/*/tools/isd_config.ini
./config/
package/
patch/
info.json
*sdk.md5
output/
.svn/
.si4project/
cache/

